
h1 {
    color: white;
    font-size: 20px;
}

#navbarNav {
    justify-content: center;
}

.card {
    display: inline-block;
    align-items: center;
    margin-left: 60px;
}

footer {
    font-size: 13px;
    padding: 2px;
    background-color: #343a40;
    color: white;
}
